<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
</div>
<div class="blue-border"></div>
<div class="container" align="center">
	<div class="form-box">
		<div class="form-title">
			Free Social Security Disability Case Evaluation
		</div>
		<div class="progress-bar">
			<img src="/assets/progressbar1.png">
		</div>
		
	</div>
</div>














<script type="text/javascript">
	$('input#user_phone').blur(function(event){
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter a valid phone number");
			$('#phonecheck img').hide();
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length == 10 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 0 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 1) {
			$('#phone_error').empty();
			$('#phonecheck img').show();
		}
	});

	$('input#user_email').blur(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
			$('#emailcheck img').hide();
		}
		if (email_format.test($('input#user_email').val())) {
			$('#email_error').empty();
			$('#emailcheck img').show();
		}
	});
	$('input#first_name').blur(function(event){
		if ($('input#first_name').val().length < 2) {
			event.preventDefault();
			$('#firstname_error').empty().append("Please enter your first name");
			$('#firstnamecheck img').hide();
		}
		if ($('input#first_name').val().length > 0) {
			$('#firstname_error').empty();
			$('#firstnamecheck img').show();
		}
	});
	$('input#last_name').blur(function(event){
		if ($('input#last_name').val().length < 2) {
			event.preventDefault();
			$('#lastname_error').empty().append("Please enter your last name");
			$('#lastnamecheck img').hide();
		}
		if ($('input#last_name').val().length > 0) {
			$('#lastname_error').empty();
			$('#lastnamecheck img').show();
		}
	});
	$('input#user_zipcode').blur(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
					if (response == "yes") {
						$('#zip_error').empty();
						$('#zipcheck img').show();
					}
				  }
			});
	});
	$('#submit1').click(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
			$('#emailcheck img').hide();
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter your phone number");
			$('#phonecheck img').hide();
		}
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
				  }
		});
		if ($('input#first_name').val().length < 2) {
			event.preventDefault();
			$('#firstname_error').empty().append("Please enter your first name");
			$('#firstnamecheck img').hide();
		}
		if ($('input#last_name').val().length < 2) {
			event.preventDefault();
			$('#lastname_error').empty().append("Please enter your last name");
			$('#lastnamecheck img').hide();
		}
	});
</script>